* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}

header {
  height: 75px;
  background-color: grey;
}

header .div {
  width: calc(100% / 3);
  border: 1px solid black;
}

main {
  height: calc(100vh - 75px);
  background-color: lightgoldenrodyellow;

}

.main-wrapper {
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.container {
  width: 600px;
  height: 600px;
  border: 5px solid black;
  border-radius: 20px;
  overflow: hidden;
  flex-wrap: wrap;
}

.box {
  width: calc(100% / 10);
  aspect-ratio: 1/1;
  border: 1px solid black;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.box.active {
  background-color: rgb(100, 100, 100) ;
}